# Informations pour l'accès à la base de données
# Modifier les valeurs ci-dessous pour correspondre à votre configuration locale
DB_URL=jdbc:mysql://localhost:3306/chatop_db
DB_USER=chatop_user
DB_PASSWORD=changeme
# Driver pour la base de données
# En local ne pas changer (laisser com.mysql.cj.jdbc.Driver)
DB_DRIVER=com.mysql.cj.jdbc.Driver
# Crée une chaine secrète aléatoire pour signer les tokens JWT (JSON Web Token)
JWT_SECRET=une_chaine_secrete_longue_et_aleatoire
# liste les domaines autorisés pour les requêtes CORS, séparés par des virgules
# En local, conserver la valeur par défaut (http://localhost:4200) pour permettre le développement avec Angular
DOMAINS=http://localhost:4200
# Port du serveur pour l'application Spring Boot
# BASE_URL est utilisé pour les requêtes HTTP vers le backend depuis le frontend Angular
# ne pas changer en local (laisser 3001)
SERVER_PORT=3001
BASE_URL=http://localhost:3001